<form action="" method="post" name="signup">
  {{form.hidden_tag()}}
  <P>
    please enter your username:<br>
    {{form.username(size=80)}}<br>
    please enter your password<br>
    {{form.password(size=80)}}<br>
    please re-enter your password<br>
    {{form.password_retype(size=80)}}<br>
  </P>
  <p><input type="submit" value="Sign Up"></p>
</form>
<P>
  <h3>Already a member?</h3><br>
  <a href="{{url_for('login')}}">Sign In</a>
</P>
<P>
  {%for message in get_flashed_messages()%}
  <br>
  <h3 style="color:red">{{message}}</h3>
  {%endfor%}
</p>
